ytd-two-column-browse-results-renderer #header {
  display: none !important;
}
#content > ytd-mini-guide-renderer {
  display: none !important;
}
#guide-button {
  display: none !important;
}
#content > yt-lockup-view-model > div > div > yt-lockup-metadata-view-model {
  display: none !important;
}

ytd-reel-shelf-renderer,
ytd-ad-slot-renderer,
.ytd-live-chat-frame,
#voice-search-button,
.ytp-paid-content-overlay {
  display: none !important;
}

#text-container .yt-notification-action-renderer {
  display: none !important;
}

#movie_player > div.html5-video-container > video {
  border-radius: 16px !important;
}

#movie_player > div.html5-video-container {
  padding: 10px !important;
}
