#contents > ytd-rich-item-renderer {
  width: 15% !important;
  max-width: 15% !important;
  flex: 0 0 15% !important;
}

#frosted-glass.with-chipbar.ytd-app {
  height: 70px !important;
}

ytd-watch-flexy[full-bleed-player] #full-bleed-container.ytd-watch-flexy {
  height: calc(100vh - 20px) !important;
  max-height: calc(100vh - 20px) !important;
  position: fixed !important;
  top: 0 !important;
  padding-top: 10px !important;
}

#background.ytd-masthead {
  background: none !important;
}
